body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-family: 'Pacifico', cursive;
    background-color:var(--white);
}
main{
    padding-top: 4%;
}
*{
    box-sizing: border-box;
    font-family:'Pacifico', cursive;
    margin: 0
    ;
}
:root{
    --beige:#dcae84;
    --purple:#7c52cf;
    --pink:#cd6ae7;
    --black:#000000;
    --grey:rgb(168, 168, 168);
    --white:#f9f9f9;
    --lightwhite:rgb(255,255,255,0.5);
    --green:#6AD1B7;
    --darkgreen:#57a692;
    --blue:#9bd6e4;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 1rem 0.2rem;
    background-color: var(--black);
    position: fixed;
    gap:30px;
    z-index: 1;

}
.logo{
    color: var(--green);
    margin-left: 3%;
    flex-grow: 2;
    font-size: x-large;
}
.icons{
    cursor: pointer;
    font-size: larger;
    text-align: center;
    border-radius: 10px;
    width: 6%;
    justify-self: flex-end;
    color:var(--white);
    transition: 0.1s ease border-color;
    flex-shrink: 0.5;
}
.icons:hover{
    background-color: var(--green);
}
.main-icons{
    display: flex;
    width: 6%;
    margin-left: 5%;
    cursor: pointer;
    max-width:100px ;
    max-height: auto;
}
.main-icons img{
    cursor: pointer;
    max-width:100px ;
    max-height: auto;
    scale: 0.7;
}
.body-container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--beige);
    gap: 10px;

}
.browse{
    color: black;
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
    width: 11%;
    height: 100vh;
    border-radius: 10px;
    position: fixed;
    background-color: var(--white);
    z-index: 0;
}
.test{
    width: 10%;
    height: 100vh;
}
.right{
    display: flex;
    width:80%;
    height: auto;
    padding: 2rem 2rem;
    
}