body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-family: 'Pacifico', cursive;
    background-color:var(--white);
}

*{
    box-sizing: border-box;
    font-family:'Pacifico', cursive;
    margin: 0
    ;
}
:root{
    --beige:#dcae84;
    --purple:#7c52cf;
    --pink:#cd6ae7;
    --black:#000000;
    --grey:rgb(168, 168, 168);
    --white:#f9f9f9;
    --lightwhite:rgb(255,255,255,0.5);
    --green:#6AD1B7;
    --darkgreen:#57a692;
    --blue:#9bd6e4;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 1rem 0.2rem;
    background-color: var(--black);
    position: fixed;
    gap:30px;

}
.logo{
    color: var(--green);
    margin-left: 3%;
    flex-grow: 2;
    font-size: x-large;
}
.icons{
    cursor: pointer;
    font-size: larger;
    text-align: center;
    border-radius: 10px;
    width: 6%;
    justify-self: flex-end;
    color:var(--white);
    transition: 0.1s ease border-color;
    flex-shrink: 0.5;
}
.icons:hover{
    background-color: var(--green);
}
.main-icons{
    display: flex;
    width: 6%;
    margin-left: 5%;
    cursor: pointer;
    max-width:100px ;
    max-height: auto;
}
.main-icons img{
    cursor: pointer;
    max-width:100px ;
    max-height: auto;
    scale: 0.7;
}
.hero-section{
    display: flex;
    width: 100%;
    height: 750px;
    background-color: var(--beige);
}
.left-hero{
    font-weight: 100;
    font-size: xx-large;
    display: flex;
    margin-left: 5%;
    margin-top: 5%;
    width: 30%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.left-hero-title{
    padding: 0.5rem 0.25rem;
    background-color: var(--green);
    border-radius: 10px;
    
}
.right-hero{
    display: flex;
    width: 70%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    background-color: var(--black);
    border-radius: 300px 40px 300px 20px;


}
.img-container img{
  max-width: 100%;
  max-height: 100%;
  scale: 1.25;

}
.fade-in-out {
    opacity: 0;
    transition: opacity 1s ease; 
  }
.show {
    opacity: 1;
  }
.active-text{
    color: var(--white);
}
.footer{

}
footer{
    color: var(--white);
    display: flex;
    background-color: var(--black);
    padding: 1rem 0.25rem;
}